<#assign path="${Application['root']}" />
<#macro heading>
    <!--Header-part-->
    <div id="header">
        <h1><a href="#">Xingmima Admin</a></h1>
    </div>

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">菜单</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li><a href="${path}/job/index"><i class="icon-check"></i>任务列表</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="${path}/spider/cfg"><i class="icon icon-cog"></i> <span class="text">爬虫配置</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--close-Header-part-->
</#macro>

<#macro content>

</#macro>

<#macro script>

</#macro>

<#macro leftNav>
    <!--sidebar-menu-->
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li id="home"><a href="${path}/home/index"><i class="icon icon-home"></i> <span>首页</span></a> </li>
            <li id="job" > <a href="${path}/job/index"><i class="icon icon-check"></i> <span>任务管理</span></a> </li>
            <li id="tshop"> <a href="${path}/tshop/index"><i class="icon icon-book"></i> <span>注册店铺管理</span></a> </li>
            <li id="tspider"> <a href="${path}/tspider/index"><i class="icon icon-book"></i> <span>爬虫管理</span></a> </li>
            <!--<li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>-->
            <!--<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>-->
            <!--<ul>-->
            <!--<li><a href="form-common.html">Basic Form</a></li>-->
            <!--<li><a href="form-validation.html">Form with Validation</a></li>-->
            <!--<li><a href="form-wizard.html">Form with Wizard</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>-->
            <!--<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>-->
            <!--<li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>-->
            <!--<ul>-->
            <!--<li><a href="index2.html">Dashboard2</a></li>-->
            <!--<li><a href="gallery.html">Gallery</a></li>-->
            <!--<li><a href="calendar.html">Calendar</a></li>-->
            <!--<li><a href="invoice.html">Invoice</a></li>-->
            <!--<li><a href="chat.html">Chat option</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>-->
            <!--<ul>-->
            <!--<li><a href="error403.html">Error 403</a></li>-->
            <!--<li><a href="error404.html">Error 404</a></li>-->
            <!--<li><a href="error405.html">Error 405</a></li>-->
            <!--<li><a href="error500.html">Error 500</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <li class="content"> <span>Kakfa状态</span>
            <div class="progress progress-mini progress-danger active progress-striped">
            <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
            <div class="stat"></div>
            </li>
            <li class="content"> <span>数据库使用情况</span>
            <div class="progress progress-mini active progress-striped">
            <div style="width: 3%;" class="bar"></div>
            </div>
            <span class="percent">3%</span>
            <div class="stat">604.44 / 2 T</div>
            </li>
        </ul>
    </div>
</#macro>

<#macro doLayout>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>星密码-店铺分析后台</title>
        <!--matrix-->
        <link rel="stylesheet" href="${path}/matrix/css/bootstrap.min.css" />
        <link rel="stylesheet" href="${path}/matrix/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="${path}/matrix/css/fullcalendar.css" />
        <link rel="stylesheet" href="${path}/matrix/css/uniform.css" />
        <link rel="stylesheet" href="${path}/matrix/css/select2.css" />
        <link rel="stylesheet" href="${path}/matrix/css/matrix-style.css" />
        <link rel="stylesheet" href="${path}/matrix/css/matrix-media.css" />
        <link href="${path}/matrix/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="${path}/matrix/css/jquery.gritter.css" />
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
    </head>
    <body>
        <@heading />
        <@leftNav />
        <div id="content">
            <!--breadcrumbs-->
            <div id="content-header">
                <div id="breadcrumb"> <a href="${path}/home/index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>${page_name}</a></div>
            </div>
            <!--End-breadcrumbs-->
            <@content />
        </div>
        <!--Footer-part-->
        <div class="row-fluid">
            <div id="footer" class="span12">
                ©2010～2016 All rights reserved 星密码 版权所有，并保留所有权利。
            </div>
        </div>
        <!--end-Footer-part-->
        <script src="${path}/matrix/js/jquery.min.js"></script>
        <script src="${path}/matrix/js/jquery.ui.custom.js"></script>
        <script src="${path}/matrix/js/bootstrap.min.js"></script>
        <script src="${path}/matrix/js/jquery.uniform.js"></script>
        <script src="${path}/matrix/js/select2.min.js"></script>
        <script src="${path}/matrix/js/jquery.dataTables.min.js"></script>
        <script src="${path}/matrix/js/matrix.js"></script>
        <script src="${path}/matrix/js/matrix.tables.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if(window.location.href.indexOf("tshop") > 0){
                    $("#tshop").attr("class","active");
                }else if(window.location.href.indexOf("job") > 0
                        || window.location.href.indexOf("dshop") > 0
                        || window.location.href.indexOf("ditems") > 0
                        || window.location.href.indexOf("logfile") > 0){
                    $("#job").attr("class","active");
                }else if(window.location.href.indexOf("home") > 0) {
                    $("#home").attr("class", "active");
                }
            });
        </script>
        <@script />
    </body>
    </html>
</#macro>